body {
  font-family: monospace;
}

.break {
  margin-top: 10px;
}

.container {
  text-align: center;
}

.page-updates {
  display: inline-block;
  text-align: left;
}

.page-status {
  margin: 0px;
}

.no-margin {
  margin: 0px;
}
