body {
  font-family: monospace;
}

.break {
  margin-top: 10px;
}


.container {
  text-align: center;
}

.user-data * {
  margin-bottom: 5px;
}

.page-updates {
  display: inline-block;
  text-align: left;
}

.page-status {
  margin: 0px;
}
